<operation-page title="Attachment Prototypes">
  <ng-template #operationPageTitleActionsTemplate>
    <button mat-stroked-button
      [routerLink]="['/operations', operation.id, 'aprototype']">
      Add Attachment Prototype
    </button>
  </ng-template>
  <ng-template #operationPageBodyTemplate>
    <operation-table [dataSource]="prototypes" [columns]="tableColumns">
      <ng-template #operationTableExpandedRowTemplate let-element>
        <a [routerLink]="['/aprototypes', element.id]">Edit</a>
      </ng-template>
    </operation-table>
  </ng-template>
</operation-page>
