<div class="panel">
  <form>
    <div class="panel-body">
      <div class="panel-attachments">
        <div *ngFor="let entry of operation.attachments$ | async">
          <attachment-entry [entry]="entry"></attachment-entry>
        </div>

        <attachment-entry
          *ngIf="operation.mode === 'ADD_OPERATION_ATTACHMENT'"
          [entry]="operation.newAttachment"></attachment-entry>
      </div>
      <div class="panel-actions">
        <button type="button" class="btn btn-primary"
          [disabled]="operation.mode === 'ADD_OPERATION_ATTACHMENT'"
          (click)="addForm()">
          {{ 'Add Form' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
