@import '../variables.scss';

.global-header {
  background: $cd-primary-bg-color;
  background-image: linear-gradient(-180deg, $cd-primary-bg-color 67%, $cd-dark-primary-bg-color 97%);
  .navbar {
    height:40px;

    .logo {
      background: url('/assets/images/logos-sprite.svg') 0 -144px no-repeat;
      height: 18px;
      width: 24px;
    }
    .brand {
      color:white;
    }

    .dropdown {
      &.ocha-menu{
        position:static;
      }
      .services {
        border-radius: 0;
        background: $cd-primary-bg-color;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
        p {
          color: white;
          margin:1em 3em 0 4em;
        };
        a {
          color: white;
        }
        .dropdown-item:hover {
          background: transparent;
        }

        .cd-sites-dropdown__link {
          align-items: center;
          display: flex;
          text-decoration: none;

          &:hover,
          &:focus {
            .cd-sites-dropdown__link-label {
              border-color: $cd-bright-border-color;
            }
          }
        }
        .cd-sites-dropdown__logo {
          background: url('/assets/images/logos-sprite.svg') 0 0 no-repeat;
          display: inline-block;
          height: 18px;
          margin-left: 24px;
          position: relative;
          width: 82px;

          .no-svg & {
            background: url('/assets/images/logos-sprite.png') 0 0 no-repeat;
          }

          &:before {
            color: $cd-light-blue-border-color;
            content: '|';
            left: -12px;
            position: absolute;
            top: -3px;
          }
        }

        .cd-sites-dropdown__logo--cerf {
          background-position: 0 -18px;
        }

        .cd-sites-dropdown__logo--fts {
          background-position: 0 -36px;
        }

        .cd-sites-dropdown__logo--events {
          background-position: 0 -54px;
        }

        .cd-sites-dropdown__logo--hid {
          background-position: 0 -72px;
        }

        .cd-sites-dropdown__logo--hrinfo {
          background-position: 0 -90px;
        }

        .cd-sites-dropdown__logo--vosocc {
          background-position: 0 -108px;
        }

        .cd-sites-dropdown__logo--iasc {
          background-position: 0 -126px;
        }

        .cd-sites-dropdown__logo--ocha {
          background-position: 0 -144px;
        }

        .cd-sites-dropdown__logo--rw {
          background-position: 0 -162px;
        }
      }
    }
  }
}


.login {
  list-style: none;

  &:before {
    color: $white;
    position: absolute;
    content: '|';
  }
  a#profile {
    color: inherit;
  }
  a, a:visited, a:hover {
    color: $white;
  }
  .link {
    color: $black;
  }
  #login-link {
    color: $cd-ocha-blue;
    text-decoration: underline;
  }
}

.language-selector {
  a {
    color: black;
  }
  a:visited, a:hover {
    color: white;
  }

  .link {
    &:visited,&:hover {
      color: black;
    }
  }
  color: white;
}

.link {
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.oict-message {
  max-width: 640px;
}

.email {
  color:white;
  text-decoration: none;
  &:visited {
    color:white;
  }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    overflow-y: hidden;
 }


.dim {
  opacity: .75;
}

.header {
  .app-name {
    font-weight: bold;
    background: $light-grey;
    font-size: 0.7em;
    line-height: 2.7em;
    a,a:visited {
      color:$dark-grey;
    }
  }
  .navbar {
    height: 60px;
  }
  .marker {
    color: $dark-grey;
    display: inline-block;
  }
}

i{ vertical-align: middle !important; }
