<section class="border-top py-5 px-4"
  *ngIf="operation.plans && operation.plans.length">
  <div class="col-12" *ngFor="let plan of operation.plans">
    <h2>{{plan.governingEntities[0].entityPrototype.value.name.en.plural || 'Clusters'}}</h2>
    <div *ngFor="let governingEntity of plan.governingEntities">
      <div class="mt-4" *ngIf="governingEntity.selected">
        <h3>
          <img *ngIf="governingEntity.governingEntityVersion.value &&
              governingEntity.governingEntityVersion.value.icon &&
              governingEntity.governingEntityVersion.value.icon.length"
              class="clusterImg"
              src="/assets/images/fieldClusters/SVG/{{governingEntity.governingEntityVersion.value.icon}}.svg" title="{{governingEntity.governingEntityVersion.name}}">
          {{ governingEntity.governingEntityVersion.name }}
        </h3>
        <h4 translate class="mt-4">Caseload</h4>
        <div *ngFor="let caseload of governingEntity.caseloads">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th *ngFor="let metric of caseload.attachmentPrototype.value.metrics">
                  {{ metric.name.en }}
                </th>
                <th translate>Operation Target</th>
              </tr>
            </thead>
            <tbody>
              <tr translate>
                <td *ngFor="let metric of caseload.attachmentPrototype.value.metrics; let idx = index;">
                  {{ caseload.attachmentVersion.value.metrics.values.totals[idx].value|number:'0.0-0' }}
                </td>
                <td>
                  {{ caseload.operationValue|number:'0.0-0' }}
                      <p class="orange clickable" (click)="openModal(disagModal, caseload)" *ngIf="caseload.disaggregationIncluded" translate>
                        <i class="material-icons">check_circle_outline</i> Includes Disaggregation</p>
                </td>
              </tr>
            </tbody>
          </table>
          <span [ngClass]="{'data-load-finished-ge': reviewHasGE && !reviewHasAttachments }"></span>
        </div>
        <span [ngClass]="{'data-load-finished-ge': reviewHasGE && !reviewHasCaseloads  }"></span>

        <div *ngFor="let key of objectKeys(governingEntity.childPlanEntities)">
          <h5 translate>{{ (key === 'Cluster Activities') ? 'Cluster Activities and Indicators' : key }}</h5>
          <table class="table table-striped mb-0">
            <thead class="thead-dark">
              <tr>
                <th class="ind-1" scope="col" translate>Indicator</th>
                <th class="ind-2" scope="col" translate>Description</th>
                <th class="ind-3" scope="col" translate>Target</th>
                <th class="ind-4" scope="col" translate>Operation Target</th>
              </tr>
            </thead>
          </table>
          <div *ngFor="let planEntity of governingEntity.childPlanEntities[key]">
            <h4>{{planEntity.planEntityVersion.customReference}} - {{planEntity.planEntityVersion.value.description}}</h4>
            <div *ngFor="let attachment of planEntity.attachments| orderBy:'attachmentVersion.customReference'">
              <table class="table">
                <tbody>
                  <tr *ngIf="attachment.selected">
                    <th scope="row" class="ind-1">
                      <label>{{planEntity.planEntityVersion.customReference}}.{{attachment.attachmentVersion.customReference}}</label>
                    </th>
                    <td class="ind-2">
                      {{ attachment.attachmentVersion.value.description }}
                      <p class="clickable" (click)="openModal(disagModal, attachment)" *ngIf="attachment.disaggregationIncluded" translate>
                        <i class="material-icons">check_circle_outline</i> Includes Disaggregation</p>
                    </td>
                    <td class="ind-3">{{ attachment.attachmentVersion.value.metrics.values.totals|filterTarget|number:'0.0-0' }}</td>
                    <td class="ind-4">
                        {{attachment.operationValue|number:'0.0-0'}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <span [ngClass]="{'data-load-finished-ge': reviewHasAttachments && cPS.operation }"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span [ngClass]="{'data-load-finished-ge': !reviewHasGE }"></span>
