<div class="panel" *ngIf="operation.selectedEntityPrototype">
  <div class="panel-header">
    <operation-entities-header></operation-entities-header>
  </div>
  <div class="panel-body">
    <form>
      <div class="panel-entities">
        <entity-entry *ngIf="operation.selectedEntity"></entity-entry>
        <entity-entry *ngIf="!operation.selectedEntity && operation.mode === 'ADD_ENTITY'"></entity-entry>
      </div>
      <div class="panel-actions">
        <button [disabled]="!isAddButtonEnabled()"
            type="button" class="btn btn-primary" (click)="addEntity()">
          {{ 'Add ' + operation.selectedEntityPrototype.value.name.en.singular }}
        </button>
      </div>
    </form>
  </div>
</div>
