<div class="content">
  <div class="container">
    <table mat-table [dataSource]="prototypes" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="refcode">
        <th mat-header-cell *matHeaderCellDef>Refcode</th>
        <td mat-cell *matCellDef="let element">{{element.refCode}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{element.type}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element !== expandedElement" class="actions">
            <mat-icon>more_vert</mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="header-row-zero-group">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="4">
          <cdm-page title="Attachment Prototypes">
          </cdm-page>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-row-first-group">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="3">
          <div class="title-row" (click)="toggleTitle()">
            <operation-title [operation]="operation"></operation-title>
          </div>
          <div class="op-menu" *ngIf="titleExpanded">
            <operation-menu></operation-menu>
          </div>
          <cdm-page title="Attachment Prototypes">
            <div actions>
              <button mat-raised-button color="warn" routerLink="/aprototype">Add Attachment Prototype</button>
            </div>
          </cdm-page>
        </th>
      </ng-container>


      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="3">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description">
              <button mat-raised-button color="primary" [routerLink]="['/aprototypes', element.id]"><mat-icon>edit</mat-icon> Edit Attachment Prototype</button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['header-row-first-group']; sticky: true"></tr>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>

      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>
</div>
