<table mat-table [dataSource]="reportingWindows$" multiTemplateDataRows>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let rw">
      <div class="description">
        <h2>{{ rw.name }}</h2>
        <small>Status : {{ rw.status }} | {{ rw.description }}</small>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="actions">
        <mat-icon *ngIf="element !== expandedElement">expand_more</mat-icon>
        <mat-icon *ngIf="element === expandedElement">expand_less</mat-icon>
      </div>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="4">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <reporting-window-menu [reportingWindow]="element"></reporting-window-menu>
      </div>
    </td>
  </ng-container>


  <tr mat-row *matRowDef="let element; columns: ['name', 'actions'];"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>
