:host {
  .mat-table {
    .description {
      h2 {
        margin-bottom: 0;
      }
      padding-bottom: 1.25em;
    }
    .mat-column-name {
      width: 98%;
    }
    .mat-column-actions {
      width: 2%;
      text-align: right;
      .mat-button {
        display: inline-block;
        margin-left: 1em;
      }
      .mat-icon {
        color: #aaa;
        display: inline-block;
      }
    }
  }
  .parent {
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    width: 300px;
    margin:auto;
  }
}
.description {
  select{
    padding:7px;
    margin:10px;
  }
  span{
    float: right;
  }
  a{
    padding: 0px 5px;
  }
}
