<div class="content">
  <div class="content-header">
    <h1>Reporting Windows</h1>
    <div class="content-header-actions">
      <button mat-raised-button color="warn" routerLink="/window">Add Reporting Window</button>
    </div>
  </div>
  <div class="container">
    <div *ngIf="page.length <= 0">
      <p>You currently have no reporting windows.</p>
    </div>

    <table *ngIf="page" mat-table [dataSource]="page" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let reportingWindow">
          <div class="description">
            <h2>{{ reportingWindow.value.name || 'RW Name' }}</h2>
            <small>Status : {{ reportingWindow.status}} | {{ reportingWindow.value.description || 'description'}}</small>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element !== expandedElement" class="actions">
            <mat-icon>more_vert</mat-icon>
          </div>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="4">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description">
              <button mat-raised-button color="primary" [routerLink]="['/windows/',element.id,'edit' ]">
                <mat-icon>edit</mat-icon>Edit Reporting Window</button>
              <button mat-raised-button color="primary" [routerLink]="['/windows/',element.id,'data-queue']">
                <mat-icon>remove_red_eye</mat-icon>View Data queue</button>
              <button mat-raised-button color="primary" [routerLink]="['/windows/',element.id,'states']">
                <mat-icon>panorama_fish_eye</mat-icon>Change states</button>
            </div>
          </div>
        </td>
      </ng-container>


      <tr mat-row *matRowDef="let element; columns: ['name', 'actions'];"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    </table>
  </div>
</div>
