# Add files here to ignore them from prettier formatting
.git-blame-ignore-revs
.editorconfig
.npmrc
LICENSE
/apps/hpc-ftsadmin/docs/autofill-logic.md

*.conf
*.png
*.woff

/.husky/_/
/dist
/coverage

/.nx/cache
/.nx/workspace-data

**/.gitkeep
**/.browserslistrc
**/favicon.ico
