.create-operation {
  max-width: 100%;

  margin: 0 auto;
  padding: 0;

  .container-fluid {
    // border: 1px solid red;
    padding: 0 3em;
    min-width: 1140px;
  }

  .title {
    // border: 1px solid red;
    padding: .5em 0 .15em 0;
    background-color: #6c757d;
    color: #fff;
    margin-bottom: 1em;
    h1 {
      font-size: 2em;
    }
    h2 {

    }
  }

  .sidebar {
    margin: 0;
    padding: 0;
  }

  .navbar {
    .container {
      padding-right: 0;
    }
  }
}
