<div class="entity-attachments">
  <entity-attachments-header></entity-attachments-header>
  <p class="description" *ngIf="entities.length > 1 && !selectedEntity">Select one of the above entities to edit attachments.</p>
  <entity-entry *ngIf="selectedEntity"></entity-entry>
  <form>
    <div class="panel" *ngIf="entities.length && selectedEntity">
      <div class="panel-body">

        <div class="panel-attachments">
          <div *ngFor="let attachment of entityAttachments$ | async">
            <attachment-entry [entry]="attachment"></attachment-entry>
          </div>

          <attachment-entry
            *ngIf="mode === 'ADD_ENTITY_ATTACHMENT'"
            [entry]="{id: null, opAttachmentVersion: {value: {name: ''}, customReference: ''}}"></attachment-entry>
        </div>

        <div class="panel-actions">
          <button [disabled]="mode === 'ADD_ENTITY_ATTACHMENT'"
            mat-raised-button
            (click)="mode = 'ADD_ENTITY_ATTACHMENT'">
            {{ 'Add Form' }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
