.operations {
  display: flex;
  flex-direction: row;
  padding: 1em 0 1em 1em;
  .operations-title {
    flex-grow: 1;
    font-size: 1.5em;
  }
  .operations-actions {
    a {
      margin-left: 1em;
    }
  }
}
