<form class="edit" (ngSubmit)="onSubmit()" [formGroup]="form" fxLayout="column">
  <mat-form-field appearance="outline">
    <mat-label for="name">Name</mat-label>
    <input matInput
      formControlName="name"
      (input)="clearErrors()" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
      id="name" name="name" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="description">Summary</mat-label>
    <textarea matInput maxlength="400"
      #summary
      (input)='summaryChange(summary.value)'
      class="form-control"  formControlName="description"
      [ngClass]="{ 'is-invalid': submitted && f.description.errors }" rows=3
      type="text" id="description" name="description" required></textarea>
  </mat-form-field>
  <div class="maxlength">Max length: {{charsUsed}}/{{maxChars}}</div>

  <div *ngIf="emergencies$ | async as emergencies">
    <autocomplete-select label="Emergencies" [options]="emergencies"></autocomplete-select>
  </div>
  <div *ngIf="locations$ | async as locations">
    <autocomplete-select label="Locations" [options]="locations"></autocomplete-select>
  </div>

  <div>
    <mat-form-field *ngIf="mode === 'add'" appearance="outline">
      <mat-label>Blueprint</mat-label>
      <mat-select required formControlName="blueprint">
        <mat-option *ngFor="let bp of blueprints$ | async" [value]="bp">
          {{bp.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="mode === 'add'" class="actions">
      <a mat-raised-button [routerLink]="['/operations']">Close</a>
      <a mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Save & Next</a>
    </div>
  </div>
</form>
