<div class="content">
  <div class="container">
    <div id="registration" class="conatiner col-md-12">
      <form id="operationForm" [formGroup]="operationForm">
        <mat-vertical-stepper #stepper linear>
          <mat-step formGroupName="operationDetails"
            [stepControl]="operationForm.get('operationDetails')">
            <ng-template matStepLabel>Operation</ng-template>
            <operation-form-step-1></operation-form-step-1>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step formGroupName="clusterDetails"
            [stepControl]="operationForm.get('clusterDetails')">
            <ng-template matStepLabel>Cluster</ng-template>
            <operation-form-step-1></operation-form-step-1>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </form>
    </div>
  </div>
</div>
