.form-panel {
  background-color: white;
  border-left:1em solid #026CB6;
  border-radius: .25em;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #ddd;

  .btn-save {
    background-color: #026CB6;
    color: white;
  }

  .ng-valid {
    border-left: none;
  }

  .ng-invalid {
    border-left: none;
  }

  .form-title {
    min-height: 2em;
    .material-icons {
      cursor: pointer;
      font-size: 4em;
      font-weight: bold;
      color: #026CB6;
    }
  }

  .form-body {
    margin: 0 1em;
    position: relative;
    display: flex;
    flex-direction: row;

    .form-icon {
      min-width:10em;
    }

    .form-content {
      min-height: 15em;
      padding: 5em 0 1em 1em;
      .top-right {
        position: absolute;;
        top: .55em;
        right: 0;
        width: 10em;
      }
      .bottom-right {
        position: absolute;
        bottom: -3.25em;
        right: 0;
        width: 10em;
      }
    }

    .btn-default {
      border: 1px solid #ccc;
    }
  }

  .form-actions {
    padding: 1em;
    button:first-child {
      margin-right: .5em;
    }
  }
}
