<div *ngIf="!entry.hide" class="form-panel">
  <div class="form-body">
    <div class="form-icon">
      <gve-entry-icon></gve-entry-icon>
    </div>
    <div class="form-content">
          <div class="row">
            <div class="form-group col-lg-4">
              <label for="abbreviation" translate>Abbreviation</label> <i class="text-danger">*</i>
              <input [disabled]="readOnly" class="form-control" type="text" id="abbreviation" name="abbreviation" required
                [(ngModel)]="entry.opGoverningEntityVersion.customReference"
                (input)="clearErrors()"/>
            </div>
            <div class="form-group col-lg-8">
              <label for="name" translate>Name</label> <i class="text-danger">*</i>
              <input [disabled]="readOnly" class="form-control" type="text" id="name" name="name" required
                (input)="clearErrors()"
                [(ngModel)]="entry.opGoverningEntityVersion.name"/>
            </div>
            <div class="form-group col-lg-12">
              <label for="comment" translate>Comments</label>
              <textarea [disabled]="readOnly" class="form-control" type="text" id="comment"
              [(ngModel)]="entry.opGoverningEntityVersion.comment"
              name="comment"></textarea>
            </div>
            <div class="form-group col-lg-12">
              <label for="activationDate" translate="Activation Date"></label>
              <div class="input-group">
                <input [disabled]="readOnly" class="form-control"
                  #bsDatepickerActivationDate="bsDatepicker"
                  bsDatepicker
                  id="activationDate"
                  name="activationDate"
                  [(ngModel)]="entry.opGoverningEntityVersion.activationDate"
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                <div class="input-group-append">
                  <button (click)="bsDatepickerActivationDate.toggle()"
                    [attr.aria-expanded]="bsDatepickerActivationDate.isOpen" class="btn btn-outline-secondary" type="button"><i class="material-icons">calendar_today</i></button>
                </div>
              </div>
            </div>

            <div class="form-group col-lg-12">
              <label for="filename" translate>Terms of reference</label> <i class="text-danger">*</i>
              <input [disabled]="readOnly" class="form-control" type="text"
                  placeholder="{{fileToUpload && fileToUpload.name || 'No file uploaded'}}"
                  id="filename" name="filename" readonly/>
            </div>
            <div class="form-group col-lg-12">
              <input id="file" type="file" #file style="display: none"
                (change)="handleFileInput($event.target.files)"/>
              <div *ngIf="!fileToUpload">
                <button *ngIf="!readOnly" id="selectedFile" type="button" class="btn btn-default"
                  onclick="document.getElementById('file').click();">
                    {{ 'Upload File' | translate }}
                </button>
              </div>
              <div *ngIf="fileToUpload">
                <button *ngIf="!readOnly" id="selectedFile" type="button" class="btn btn-default"
                  onclick="document.getElementById('file').click();">
                    {{ 'Replace File' | translate }}
                </button>
                <button *ngIf="!readOnly" type="button" class="btn btn-basic"
                  (click)="removeFile()">
                    {{ 'Remove File' | translate }}
                </button>
              </div>
            </div>
          </div>

      <div *ngIf="!readOnly" class="top-right">
        <button type="button" class="btn btn-default top-right">
          {{ 'Copy from...' | translate }}
        </button>
      </div>
      <div *ngIf="!readOnly" class="bottom-right">
        <button *ngIf="entry && entry.id" type="button" class="btn btn-default ">
          {{ 'Duplicate in...' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!readOnly" class="form-actions">
    <button type="button" class="btn btn-save" (click)="save()">
      {{ 'Save' | translate }}
    </button>
    <button *ngIf="entry && entry.id" type="button" class="btn btn-info" (click)="remove()">
      {{ 'Remove ' + entry.opEntityPrototype.opEntityPrototypeVersion.value.name.en.singular | translate }}
    </button>
  </div>
</div>
