<operation-page title="Participant">
  <ng-template #operationPageTitleActionsTemplate>
    <a mat-stroked-button
      [routerLink]="['/operations', operationId, 'participant']">
      Add Participant</a>
  </ng-template>
  <ng-template #operationPageBodyTemplate>
    <operation-table [dataSource]="participants" [columns]="tableColumns">
      <ng-template #operationTableExpandedRowTemplate let-element>
        <a [routerLink]="['/participants', element.id]">Edit Participant</a>
      </ng-template>
    </operation-table>
  </ng-template>
</operation-page>
