<div class="cdm-title">
  <h1 >{{titles[mode]}}</h1>
  <div class="cdm-title-icons">
    <a mat-button matTooltip="Add New Attachment Prototype"
      [routerLink]="['/operations', operation.id, 'aprototypes', 'new']">
      <mat-icon>add_box</mat-icon>
    </a>
    <a mat-button matTooltip="Attachment Prototypes"
      [routerLink]="['/operations', operation.id, 'aprototypes']">
      <mat-icon>format_align_justify</mat-icon>
    </a>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
