.panel {
  .panel-header {
    margin-top: -2em;
  }
  .panel-body {
    background-color: rgba(242, 242, 242, 1);
    border: 1px solid #bbb;
    border-radius: 2px;
    padding: 1em;

    .panel-actions {
      margin-top: 1em;
    }
  }
}
