<div class="operation-item border-bottom" (mouseleave)="showMenu=false">
  <div (click)="select()">
    <small class="meta">
      {{ operation.version }}
      {{ operation.isOperationLead ? 'operation lead ' : ''  }}
      {{ operation.isGoverningEntityLead ? 'governing entity lead ' : ''  }}
    </small>
    <h3>{{ operation.name }}</h3>
    <h5>Last updated on {{ operation.updatedAt | date:'mediumDate' }}</h5>
    <i class="material-icons">more_vert</i>
  </div>
  <div *ngIf="showMenu && operationService.operation?.id === operation.id" class="menu">
    <operation-menu></operation-menu>
  </div>
</div>
