<div class="entity-icon">
  <legend>Icon</legend>
  <div class="icon-button" (click)="openModal(templateIconSelector)">
    <div class="styled-icon-wrapper">
      <svg-icon-sprite [src]="icon" [width]="'4em'" [classes]="'styled-icon'"></svg-icon-sprite>
    </div>
  </div>
  <div class="description">Click to change the icon</div>
</div>

<ng-template #templateIconSelector>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Icons</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="all-icons">
      <div *ngFor="let iconName of icons" class="styled-icon-wrapper" (click)="selectIcon(iconName)">
        <svg-icon-sprite [src]="iconName" [width]="'4em'" [classes]="'styled-icon'"></svg-icon-sprite>
      </div>
    </div>
  </div>
</ng-template>
