:host {
  .content {
    .container {
      font-size: 1.25em;

      .message {
        .title {
          margin-top: 1em;
        }
        // margin: 3em;
        max-width: 640px;
      }
    }
  }
}
