<div id="operation-details">
  <mat-tab-group>
    <mat-tab label="Details">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-form-field appearance="outline">
          <input matInput
            id="name" name="name"
            formControlName="name"
            placeholder="Name"
            (input)="clearErrors()"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <textarea matInput
            id="description" name="description"
            placeholder="Description"
            formControlName="description"
            [maxlength]="4000"
            required>
              {{ 'operation-edit.basic-info.overview' | translate }}
          </textarea>
          <div [hidden]="f.description.valid || f.description.pristine" class="alert alert-danger">
              Description is required
         </div>
          <small translate>Max length: {{f.description ? f.description.length : 0}}/4000</small>
        </mat-form-field>

        <emergency-select label="Emergencies" required=true></emergency-select>
        <location-select label="Locations" required=true></location-select>
      </form>
    </mat-tab>
    <mat-tab label="Attachments"> 
      Content 2
    </mat-tab>
  </mat-tab-group>

</div>
