$orange: #ee7325;
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .links {
    margin-right: 1em;
    a {
      margin-left: 1em;
      .selected {
        background-color: $orange;
        color: #fff;
      }
    }
  }
  .main-content {
<<<<<<< HEAD
    flex-grow: 1;
    background-color: #EFF5F9;
    padding-bottom: .25em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // border: 2px solid blue;
    // max-width: 1290px;
    // margin: 0 auto;
    // background-color: #fff;
=======
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 2em;
>>>>>>> cdm-dev
  }
  .mat-stroked-button {
    background-color: #ffa500;
  }
  .main-content {
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 2em;
    }

}
