$orange: #ee7325;
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .links {
    margin-right: 1em;
    a {
      margin-left: 1em;
      .selected {
        background-color: $orange;
        color: #fff;
      }
    }
  }
  .main-content {
    flex-grow: 1;
    background-color: #EFF5F9;
    padding-bottom: .25em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .mat-stroked-button {
    background-color: #fff;
  }
}
