<form *ngIf="!loading" class="edit" (ngSubmit)="onSubmit()" [formGroup]="form">

  <mat-button-toggle-group name="bptype" aria-label="Blueprint Type">
    <mat-button-toggle value="operation" checked="true">Operation Blueprint</mat-button-toggle>
    <mat-button-toggle value="plan">Plan Blueprint</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput
      formControlName="name"
      (input)="clearErrors()"
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
      required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput
      class="form-control"
      formControlName="description"
      (input)="clearErrors()"
      [ngClass]="{ 'is-invalid': submitted && f.description.errors }" rows=10
      type="text" id="description" name="description" required></textarea>
  </mat-form-field>

  <ng-container *ngIf="(blueprint$ | async) as blueprint; else emptyJsonModel">
    <json-editor [json]="blueprint.model" (change)="onJsonChange($event)" ></json-editor>
  </ng-container>
  <ng-template #emptyJsonModel>
    <json-editor [json]="{}" (change)="onJsonChange($event)" ></json-editor>
  </ng-template>

  <div class="actions">
    <a mat-raised-button [routerLink]="['/blueprints']">Close</a>
    <a mat-raised-button color="warn" type="submit" [disabled]="!form.valid">Save</a>
  </div>
</form>
