table.table {
  th {
    padding: 0.4rem 0.75rem 0.4rem 0.75rem;
  }
  td {
    padding: 0.4rem 0.75rem 0.4rem 0.75rem;
  }
  .ind-1 {
    width: 12%;
  }
  .ind-2 {
    width: 60%;
  }
  .ind-3 {
    text-align: right;
    width: 12%;
  }
  .ind-4 {
    text-align: right;
    width: 16%;
  }
}
h5 {
  font-size:1.1rem;
  margin: 1.5rem .4rem .2rem .4rem;
}
