<form #childForm="ngForm">
  <fieldset class="border p-4 governing-entities" *ngIf="createOperationService.operation">
      <section>
        <div *ngFor="let governingEntity of createOperationService.operation.governingEntities; let idx = index;" class="form-check form-check-inline">
          <div>
            <label for="operationCluster-{{governingEntity.governingEntityVersion.name}}" class="form-check-label">
              <figure class="figure">
                <img *ngIf="governingEntity.governingEntityVersion.value.icon && governingEntity.governingEntityVersion.value.icon.length"
                  class="clusterImg"
                  src="/assets/images/fieldClusters/SVG/{{governingEntity.governingEntityVersion.value.icon}}.svg" title="{{governingEntity.governingEntityVersion.name}}">
                </figure>
                {{governingEntity.governingEntityVersion.name}}
            </label>
          </div>
        </div>

      </section>
      <section>

        <div *ngFor="let governingEntity of createOperationService.operation.governingEntities; let idx = index;" class="form">
          <fieldset class="border mt-4 p-4" *ngIf="createOperationService.operation">
          <div class="form-group">
            <label for="name" translate="operation-edit.governing-entity-info.abbreviation"></label> <i class="text-danger">*</i>
            <input class="form-control"
              type="text"
              id="customReference{{idx}}"
              name="customReference{{idx}}"
              [(ngModel)]="governingEntity.governingEntityVersion.customReference"
              required>
          </div>
          <div class="form-group">
            <label for="name" translate="operation-edit.governing-entity-info.name"></label> <i class="text-danger">*</i>
            <input class="form-control"
              type="text"
              id="name{{idx}}"
              name="name{{idx}}"
              [(ngModel)]="governingEntity.governingEntityVersion.name"
              required>
          </div>

          <div class="form-group">
            <label for="comments" translate="operation-edit.basic-info.comments"></label> <i class="text-danger">*</i>
            <textarea
              class="form-control"
              type="text"
              id="comments{{idx}}"
              [maxlength]="4000"
              name="comments{{idx}}"
              [(ngModel)]="governingEntity.governingEntityVersion.comments">
                {{ 'operation-edit.basic-info.overview' | translate }}
            </textarea>
            <small translate>Max length: {{governingEntity.governingEntityVersion.comments ? governingEntity.governingEntityVersion.comments.length : 0}}/4000</small>

          </div>

          <div class="form-group col-lg-4">
            <label for="activationDate" translate="Activation Date"></label>
            <div class="input-group">
              <input
                class="form-control"
                #bsDatepickeractivationDate="bsDatepicker"
                bsDatepicker
                name="activationDate{{idx}}"
                [(ngModel)]="governingEntity.governingEntityVersion.activationDate"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
              <div class="input-group-append">
                <button (click)="bsDatepickeractivationDate.toggle()" [attr.aria-expanded]="bsDatepickeractivationDate.isOpen" class="btn btn-outline-secondary" type="button">
                  <i class="material-icons">calendar_today</i>
                </button>
              </div>
            </div>
          </div>
          </fieldset>
        </div>
      </section>
      <button class="mt-4 btn btn-primary" (click)="addNewGoverningEntity()">Add new GVE</button>
  </fieldset>
</form>
