<form class="edit" (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>RefCode</mat-label>
    <input matInput class="form-control" formControlName="refCode"
      (input)="clearErrors()" [ngClass]="{ 'is-invalid': submitted && f.refCode.errors }"
      type="text" id="refCode" name="refCode" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <input matInput class="form-control" formControlName="refType"
      (input)="clearErrors()"
      [ngClass]="{ 'is-invalid': submitted && f.refType.errors }"
      type="text" id="refType" name="refType" required>
  </mat-form-field>

  <ng-container *ngIf="(prototype$ | async) as prototype; else emptyjson">
    <json-editor
      [json]="prototype.value"
      (change)="onJsonChange($event)"></json-editor>
  </ng-container>
  <ng-template #emptyjson>
    <json-editor [json]="{}" (change)="onJsonChange($event)"></json-editor>
  </ng-template>

  <div *ngIf="(operation$ | async) as operation" class="actions">
    <a mat-raised-button [routerLink]="['/operations', operation.id, 'eprototypes']">Close</a>
    <a mat-raised-button color="warn" type="submit" [disabled]="!form.valid">Save</a>
  </div>
</form>
