<operation-page [title]="title">
  <ng-template #operationPageBodyTemplate>
    <form class="entity-form" (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-form-field appearance="outline">
        <input matInput class="form-control" formControlName="refCode"
          placeholder="refCode"
          (input)="clearErrors()" [ngClass]="{ 'is-invalid': submitted && f.refCode.errors }"
          type="text" id="refCode" name="refCode" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput class="form-control" formControlName="refType"
          (input)="clearErrors()"
          placeholder="type"
          [ngClass]="{ 'is-invalid': submitted && f.refType.errors }"
          type="text" id="refType" name="refType" required>
      </mat-form-field>

      <label for="description" translate="">JSON Model?</label>
      <json-editor
        [json]="prototype && prototype.opEntityPrototypeVersion.value"
        (change)="onJsonChange($event)"></json-editor>

      <div class="buttons">
        <button mat-raised-button color="warn" type="submit" [disabled]="!form.valid">Save</button>
        <button mat-raised-button [routerLink]="['/operations', operationId, 'eprototypes']">Close</button>
      </div>
    </form>
  </ng-template>
</operation-page>
