<div class="container admin">
  <div class="row">
    <div class="col-lg-12">
      <app-add-new-object
        [objectType]="objectType">
      </app-add-new-object>
      <div class="pagination">
        <a class="previous"
          *ngIf="currentPage > 0"
          [routerLink]="['/admin', objectType]"
          [queryParams]="{page: (currentPage - 1)}">previous</a>
        <a class="next"
          *ngIf="objects && objects.length === limit"
          [routerLink]="['/admin', objectType]"
          [queryParams]="{page: (currentPage + 1)}">next</a>
      </div>
      <table>
        <thead>
          <tr>
            <th>
              {{ objectType }}
            </th>
            <th *ngIf="objectType === 'planProcedure'">
              planName
            </th>
            <th *ngFor="let relationship of relationships">
              {{ relationship }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let object of objects">
            <td>
              <a [routerLink]="['/admin', objectType, object.id ]">{{ object.id }}</a>
            </td>
            <td *ngIf="objectType === 'planProcedure'">
              {{ object.name }}
            </td>
            <td *ngFor="let relationship of relationships">
              {{ object[relationship] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
