<operation-page title="Attachment Prototypes">
  <ng-template #operationPageTitleActionsTemplate>
    <button mat-stroked-button
      [routerLink]="['/operations', operation.id, 'aprototype']">
      Add Attachment Prototype
    </button>
  </ng-template>
  <ng-template #operationPageBodyTemplate>
    <table-selectable-rows [dataSource]="prototypes" [columns]="tableColumns">
      <ng-template #operationTableExpandedRowTemplate let-element>
        <a [routerLink]="['/aprototypes', element.id]">Edit Prototype</a>
      </ng-template>
    </table-selectable-rows>
  </ng-template>
</operation-page>
