<operation-page title="Edit Operation">
  <ng-template #operationPageBodyTemplate>
    <form>
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step *ngFor="let step of steps; let index = index;" [ngSwitch]="step.type">
          <ng-template matStepLabel>{{step.name}}</ng-template>


          <router-outlet></router-outlet>


          <div class="buttons">
            <button *ngIf="index > 0" mat-raised-button matStepperPrevious>Back</button>
            <button *ngIf="index < (steps.length - 1)" mat-raised-button matStepperNext>Next</button>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </form>
  </ng-template>
</operation-page>
