:host {
  .content {
    .mat-expansion-panel {
      margin-top: 1em;
      h1 {
        color: #888;
      }
    }

    .content-header {
      padding: 0 1em;
    }
    
    .container {
      // margin-top: 2em;
      // height: 70em;
      // overflow: auto;



      .title-row {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        h1{
          line-height: 1.5em;
          // color: $orange;
          color: #222;
          font-size: 2em;
          font-weight: bold;
          flex-grow: 1;
        }
        .mat-icon {
          padding-top: 1em;
        }
      }

      .expanded-title {
        border: 1px solid red;
      }

      .op-artifact-table {
        background-color: white;
      }

      .op-menu {
        padding-top: 1em;
      }

      .mat-table {
        flex: 2;
        width: 100%;
        border: 1px solid #ddd;
        .mat-row {
          margin: 1em 0;
          cursor: pointer;
        }
        .mat-column-refcode {
          width: 44%!important;
        }
        .mat-column-type {
          width: 44%!important;
          padding: 1em 0;
        }
        .mat-column-actions {
          width: 2%!important;
          // .mat-button {
          //   display: inline-block;
          // }
          // .mat-icon {
          //   color: #aaa;
          //   display: inline-block;
          // }
        }

        h2 {
          color: #888;
          margin-bottom: 0;
        }

        h5 {
          color: #555;
          font-weight: normal;
          margin-top: .5em;
        }
        tr {
          padding:1em;
        }

        tr.example-detail-row {
          height: 0;
        }

        tr.example-element-row:not(.example-expanded-row):hover {
          background: #ddd;
        }

        tr.example-element-row:not(.example-expanded-row):active {
          background: #efefef;
        }

        .example-element-row td {
          border-bottom-width: 0;
        }

        .example-element-detail {
          overflow: hidden;
          display: flex;
          justify-content: flex-start;
        }

        .example-element-symbol {
          font-weight: bold;
          font-size: 40px;
          line-height: normal;
        }

        .example-element-description {
          padding-bottom: 16px;
          .mat-raised-button {
            margin-left: 1em;
          }
        }

        .example-element-description-attribution {
          opacity: 0.5;
        }
      }
    }
  }
}
