<div class="queue-filters">
    <div class="title">
      <label>FILTERS</label>
    </div>

    <div class="filter">
      <label for="context">Context</label>
      <select class="form-control" id="context" name="context">
        <option value="">Open</option>
      </select>
    </div>

    <div class="filter">
      <label for="entities">Entities</label>
      <select class="form-control" id="entities" name="entities">
        <option value="">Open</option>
      </select>
    </div>

    <div class="filter">
      <label for="type">Type</label>
      <select class="form-control" id="type" name="type">
        <option value="">Open</option>
      </select>
    </div>

    <div class="filter">
      <label for="dataStatus">Data Status</label>
      <select class="form-control" id="dataStatus" name="dataStatus">
        <option value="">Open</option>
      </select>
    </div>

    <div class="filter">
      <label for="cleaningStatus">Cleaning Status</label>
      <select class="form-control" id="cleaningStatus" name="cleaningStatus">
        <option value="">Open</option>
      </select>
    </div>

    <div class="actions">
      <a class="btn btn-secondary">Clear</a>
      <a class="btn btn-secondary">Apply</a>
    </div>
</div>
