.panel {
  .panel-header {
    margin: -1em 0 2em 0;
  }
  .panel-body {
    background-color: rgba(242, 242, 242, 1);
    border: 1px solid #bbb;
    border-radius: 2px;
    width: 100%;
    padding: 1em 1em 0 1em;    

    .panel-actions {
      margin-top: 1em;
    }
  }
}
