<div class="queue-table">
  <div class="panel">
    <div class="panel-header">
      <div class="col">
        <div class="context">
          <i (click)="toggleSelection()" *ngIf="selectedAll" class="material-icons">check_box</i>
          <i (click)="toggleSelection()" *ngIf="!selectedAll" class="material-icons">check_box_outline_blank</i>
          <label for="context">Context</label>
        </div>
      </div>
      <div class="col">Entities</div>
      <div class="col">Name</div>
      <div class="col">Type</div>
      <div class="col">Data Status</div>
      <div class="col">Cleaning Status</div>
      <div class="col"></div>
    </div>
    <div class="panel-body">
      <div *ngFor="let entry of queue.entries$ | async">
        <queue-entry [entry]="entry"></queue-entry>
      </div>
    </div>
  </div>
</div>
