<div class="file-upload">
  <div class="form-group">
    <label for="name">{{label}}</label> <i *ngIf="required" class="text-danger">*</i>
    <input [id]="uid" type="file" #file style="display: none"
      (change)="handleFileInput($event.target.files)"/>
  </div>
  <div class="form-group file-description">
    <input [disabled]="readOnly" class="form-control" type="text"
      [ngClass]="required && control.valid ? 'ng-valid' : required ? 'ng-invalid' : ''"
      placeholder="{{value.name || 'No file uploaded'}}"
      readonly/>

    <div *ngIf="!value.name" class="file-actions">
      <button *ngIf="!readOnly" id="selectedFile" type="button" class="btn"
        (click)="chooseFile()">
          {{ 'Upload' }}
      </button>
    </div>
    <div *ngIf="value.name" class="file-actions">
      <button *ngIf="!readOnly" id="selectedFile" type="button" class="btn"
        (click)="chooseFile()">
          {{ 'Replace' }}
      </button>
      <button *ngIf="!readOnly" type="button" class="btn"
        (click)="removeFile()">
          {{ 'Remove' }}
      </button>
    </div>
  </div>
</div>
