<div class="pl-2 dropdown">
  <a  class="dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      routerLinkActive="active"
      *ngIf="authService.participant">
      <i class="material-icons">perm_identity</i> {{authService.participant.email}}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  	<a class="link dropdown-item" (click)="logoff()" id="logout"> Logout </a>
  </div>
</div>
<a class="pl-2" href="#" *ngIf="!access_token" (click)="login()">
  <i class="material-icons">perm_identity</i>
  Login
</a>
