/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$body-font: "Roboto", "Helvetica Neue","Helvetica", sans-serif;
$font-size: 14px;
$number-font: "Fira Mono OT", "Courier", monospace;
$white: #ffffff;
$grey: #9a9a9a;
$transition: .3s;

html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $body-font;
  font-size: $font-size;
  color: #585858;
  background-color: $white;
  min-width: 800px;
  overflow: hidden;
}


@import '~jsoneditor/dist/jsoneditor.css';
@import './enketo';

// .mat-table::-webkit-scrollbar {
//     width: 1em;
// }
// .mat-table::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// }
// .mat-table::-webkit-scrollbar-thumb {
//   background-color: darkgrey;
//   outline: 1px solid slategrey;
// }


.content {
  max-width: 1290px;
  margin: 0 auto;
  padding:0 1em;
  display: flex;
  flex-direction: column;

  .content-header {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    h1 {
      color: #222;
      flex-grow: 1;
      font-size: 1.75em;
    }
    .content-header-actions {
      padding-top: 1em;
      button {
        min-width: 13em;
      }
    }
  }

  .container {

    .mat-table {
      min-width: 100%;
      border: 1px solid #ddd;
      h2 {
        color: #888;
      }
      tr.example-detail-row {
        height: 0;
      }

      tr.example-element-row:not(.example-expanded-row):hover {
        background: #ddd;
      }

      tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
      }

      .example-element-row td {
        border-bottom-width: 0;
      }

      .example-element-detail {
        overflow: hidden;
        display: flex;
      }

      .example-element-symbol {
        font-weight: bold;
        font-size: 40px;
        line-height: normal;
      }

      .example-element-description {
        padding-bottom: 16px;
        button {
          margin-right: 1em;
        }
      }

      .example-element-description-attribution {
        opacity: 0.5;
      }
    }
  }


}


.form-group {
  // position: relative;

  // input {
  //   border: 0;
  //   border-bottom: 2px solid $grey;
  //   transition: $transition border-bottom;
  //   width: 70%;
  //
  //   & + div.input-group-append {
  //     width: 30%;
  //   }
  //
  //   &:focus {
  //     border-bottom: 2px solid darken($grey, 20%) solid;
  //   }
  //
  //   &.input-filled + label,
  //   &:focus + label {
  //     top: -1.0rem;
  //     opacity: 1;
  //   }
  // }

  // label {
  //   font-weight: normal;
  //   pointer-events: none;
  //   transition: $transition top, $transition opacity;
  //   position: absolute;
  //   left: .5rem;
  //   top: .5rem;
  //   opacity: .8;
  //   font-size: 1rem;
  // }
}

.jsoneditor-poweredBy {
  display: none !important;
}

.modal-lg, .modal-xl {
  max-width: 1200px!important;
}

// .ng-valid[required], .ng-valid.required  {
//   border-left: 5px solid #42A948; /* green */
// }
//
// // .ng-invalid:not(form)  {
// .ng-invalid[required], .ng-invalid.required  {
//   border-left: 5px solid #a94442; /* red */
// }

// .container-fluid {
//   padding: 0 3em!important;
// }

.styled-icon-wrapper {
  cursor: pointer;
  width: 6em;
  height: 6em;
  margin: 0 .5em .5em 0;
  border: .5em solid #eee;
  border-radius: 50%;
  background-clip: padding-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #407CCA;
  padding-left: .5em;
  // transition: color ease-in-out 0.3s;

  &:hover, &:focus {
    color: #ee7325;
    border: .5em solid #ffd0b5;
  }

  ::ng-deep {
    .styled-icon {
      use {
        fill: #fff;
        stroke: currentColor;
        stroke-width: 1.35;
      }
    }
  }
}

.cdm-form {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 1em;
  display: flex;
  flex-direction: column;

  .text-danger {
    color: #e85c41;
  }

  .mat-input-invalid .mat-input-placeholder {
    color: red;
  }

  .mat-input-invalid .mat-input-ripple {
    background-color: red;
  }

  // .ng-valid[required], .ng-valid.required  {
  //   border-left: 5px solid #42A948; /* green */
  // }
  //
  // // .ng-invalid:not(form)  {
  // .ng-invalid[required], .ng-invalid.required  {
  //   border-left: 5px solid #a94442; /* red */
  // }


  .mat-form-field {
    display: flex;
    flex-direction: column;
    // width: 100%;

    label {
      margin-bottom: .25em;
    }

    input, textarea {
      // display: block;
      // flex-grow: 1;
      // align-items: stretch;
      // // width: 100%;
      // border: 1px solid #dee2e6;
      // font-size: 1.25em;
      // padding: .5em;
    }
  }

  .buttons {
    margin-top: 1em;
    text-align: right;
    button {
      margin-left: 1em;
    }
  }
}

// mat-icon-stepper selected color change
// ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
//     background-color: red!important;
// }

//input outline color
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: blue!important;
//     // opacity: 1!important;
// }

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: red!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: red!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: red!important;
}

// mat-label normal state style
// ::ng-deep .mat-form-field-label {
//     color: rgba(0,0,0,.6)!important;
//     // color: $mainColor!important;
// }

// mat-label focused style
// ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
//     color: black!important;
// }

// mat-label error style
// ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
//     color: red!important;
// }

.mat-stroked-button {
  background-color: #fff;
}

.operation-page {
  .mat-stroked-button {
    background-color: #fff;
    min-width: 13em;
  }
  a {
    color: #026CB6;
  }
}

.cdm-page {
  .mat-stroked-button {
    background-color: #fff;
    min-width: 13em;
  }
  a {
    color: #026CB6;
  }
}

.mat-column-expandedDetail {
  a {
    color: #026CB6;
    text-decoration: underline;
    margin-right: 1em;
  }
}

::ng-deep .mat-expansion-indicator {
  // color: #026CB6!important;
}



.cdm-title {
  display: flex;
  flex-direction: row;
  background-color: #026cb6;
  background-color: #ee7325;
  color: #fff;
  padding: .5em;
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  margin-top: 1em;
  h1 {
    margin: 0;
    font-size: 1.75em;
    line-height: 1.5em;
    padding-left: .25em;
    flex-grow: 1;
  }
  .cdm-title-icons {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding-right: .25em;
    .mat-button {
      color: #fff;
      margin-left: .5em;
      padding: 0;
      min-width: 0;
      .mat-icon {
        font-size: 2.5em;
        padding: 0;
        height: 1em;
        width: 1em;
      }
    }
  }
}


form.edit {
  border: 1px solid #ddd;
  padding: 1em;
  display: flex;
  flex-direction: column;
  .actions {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    a {
      margin-left: 1em;
    }
  }
}
