$orange: #ee7325;
:host {
  .cdm-page {
    .cdm-page-header {
      display: flex;
      flex-direction: row;

      margin-top: 1em;
      padding: .5em 1.5em;
      // background-color: #888;
      background-color: #026CB6;

      .cdm-page-header-title {
        flex-grow: 1;
        line-height: 1.5em;
        color: $orange;
        color: #222;
        color: #fff;
        font-size: 1.75em;
        font-weight: bold;
      }
    }
    .cdm-page-body {

    }
  }
}
