<div class="container admin">
  <div class="row">
    <div class="col-lg-12">
      <table>
        <thead>
          <tr>
            <th>
              Objects to Manage:
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let object of adminForObjects">
            <td>
              <a [routerLink]="['/admin', object]">{{ object }}</a>
            </td>
          </tr>
          <tr>
            <td>
              <a [routerLink]="['/admin/participants']" routerLinkActive="router-link-active">participants</a>
            </td>
          </tr>
          <tr>
            <td>
              <a [routerLink]="['/admin/blueprints']" routerLinkActive="router-link-active">blueprints</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
