<div class="step1">
<mat-tab-group>
  <mat-tab label="Info">
    <div class="step11" id="personal-details" [formGroup]="regForm">
      <div class="form-group col-md-4" formGroupName="personalDetails">
        <label>Firstname*</label>
        <input type="text" class="form-control" formControlName="firstname">
      </div>
      <div class="form-group col-md-4" formGroupName="personalDetails">
        <label>MI</label>
        <input type="text" class="form-control" formControlName="mi">
      </div>
      <div class="form-group col-md-4" formGroupName="personalDetails">
        <label>Lastname*</label>
        <input type="text" class="form-control" formControlName="lastname">
      </div>
    </div>
    <br/>
  </mat-tab>
  <mat-tab label="Attachments">
    <div class="step12">
      Attachments
    </div>
  </mat-tab>
</mat-tab-group>
<button color="primary" mat-raised-button type="button" matStepperNext (click)="step1Submitted()">Next</button>
</div>
