<div class="border operation-details">
  <form #childForm="ngForm" novalidate>
    <fieldset *ngIf="createOperationService.operation">
      <div class="form-group">
        <label for="name" translate="operation-edit.basic-info.Operation Name"></label> <i class="text-danger">*</i>
        <input class="form-control"
          type="text"
          id="name"
          name="name"
          [(ngModel)]="createOperationService.operation.operationVersion.name"
          #name="ngModel"
          required>
          <div [hidden]="name.valid || name.pristine"
              class="alert alert-danger">
              Name is required
         </div>
      </div>

      <div class="form-group">
        <label for="description" translate="operation-edit.basic-info.operation-summary"></label> <i class="text-danger">*</i>
        <textarea
          class="form-control"
          type="text"
          id="description"
          [maxlength]="4000"
          name="description"
          #description="ngModel"
          [(ngModel)]="createOperationService.operation.operationVersion.description"
          required>
            {{ 'operation-edit.basic-info.overview' | translate }}
        </textarea>
        <div [hidden]="description.valid || description.pristine"
            class="alert alert-danger">
            Description is required
       </div>
        <small translate>Max length: {{createOperationService.operation.description ? createOperationService.operation.description.length : 0}}/4000</small>

      </div>

      <section class="mt-2">
        <div class="form-group">
          <label translate>Emergencies<i class="text-danger">*</i></label>
          <input [(ngModel)]="selectedEmergencyName"
                 [typeahead]="dataSourceEmergency"
                 (typeaheadOnSelect)="emergencyTypeaheadOnSelect($event)"
                 (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                 typeaheadMinLength="3"
                 typeaheadOptionField="name"
                 (change)="checkValidity()"
                 [placeholder]="((createOperationService.operation.emergencies.length) ?  'operation-edit.basic-info.add-emergency2' : 'operation-edit.basic-info.add-emergency') | translate"
                 name="emergencyName"
                 class="form-control inputStart"
                 [required]="createOperationService.operation.emergencies.length === 0"
                 autocomplete="off">
          <div *ngIf="typeaheadNoResults" class="" style="">
            <i class="fa fa-remove"></i>{{ 'No Results Found' | translate }}
          </div>

          <ul class="list-group" *ngFor="let emergency of createOperationService.operation.emergencies; let index = index;">
            <li class="list-group-item">{{ emergency.name }}
              <i class="material-icons remove-org clickable"
                (click)="onDeleteEmergency(index)">clear
              </i>
            </li>
          </ul>
        </div>

      </section>

      <section class="mt-2">
        <div class="form-group">
          <label translate>Locations<i class="text-danger">*</i></label>
          <input [(ngModel)]="selectedLocationName"
                 [typeahead]="dataSourceLocation"
                 (typeaheadOnSelect)="locationTypeaheadOnSelect($event)"
                 (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                 typeaheadMinLength="3"
                 typeaheadOptionField="name"
                 (change)="checkValidity()"
                 [placeholder]="((createOperationService.operation.locations.length) ?  'operation-edit.basic-info.add-location2' : 'operation-edit.basic-info.add-location') | translate"
                 name="locationName"
                 class="form-control inputStart"
                 [required]="createOperationService.operation.locations.length === 0"
                 autocomplete="off">
          <div *ngIf="typeaheadNoResults" class="" style="">
            <i class="fa fa-remove"></i>{{ 'No Results Found' | translate }}
          </div>

          <ul class="list-group" *ngFor="let location of createOperationService.operation.locations; let index = index;">
            <li class="list-group-item">{{ location.name }}
              <i class="material-icons remove-org clickable"
                (click)="onDeleteLocation(index)">clear
              </i>
            </li>
          </ul>
        </div>

        <div *ngIf="!createOperationService.operation.id" class="form-group">
          <label for="template" translate="operation-edit.basic-info.Operation Template"></label> <i class="text-danger">*</i>
          <select class="form-control"
            id="template"
            name="template"
            [(ngModel)]="createOperationService.operation.operationVersion.planBlueprintId"
            required>
            <option value="" disabled>Choose your template</option>
            <option *ngFor="let blueprint of blueprints" [ngValue]="blueprint.id">{{blueprint.name}}</option>
          </select>
        </div>
      </section>
    </fieldset>
  </form>
</div>
