:host {
  .mat-table {
    .mat-header-row {
      display: none;
    }
    .mat-cell {
      width: 100%;
      .title {
        display: flex;
        flex-direction: row;
        .description {
          flex-grow: 1;
          h2 {
            color: #888;
            margin-bottom: 0;
          }

          h5 {
            color: #555;
            font-weight: normal;
            margin-top: .5em;
          }
        }
        .actions {
          width: 2%;
          text-align: right;
          padding-top: 2em;
          .mat-button {
            display: inline-block;
            margin-left: 1em;
          }
          .mat-icon {
            color: #aaa;
            display: inline-block;
          }
        }
      }      
    }
  }
}
