:host {

  .mat-table {

    ::ng-deep {
      .menu {
        padding-left: 3.15em;
      }
    }

    .mat-header-row {
      display: none;
    }
    .mat-cell {
      padding: 0;

      .example-element-detail {
        cursor: normal;
      }
      .title {
        padding: 0 1em;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        position: relative;

        .starred {
          font-size: 1.5em;
          position: absolute;
          top: .9em;
          color: #888;
          .active {
            color: #FFC107;
            svg {
              fill: #FFC107;
            }
          }
          .active svg {
            fill: #FFC107;
          }
        }

        .description {
          flex-grow: 1;
          padding-left: 2.25em;
          h2 {
            color: #888;
            margin-bottom: 0;
          }

          h5 {
            color: #555;
            font-weight: normal;
            margin-top: .5em;
          }
        }
        .actions {
          width: 2%;
          text-align: right;
          padding-top: 2em;
          .mat-button {
            display: inline-block;
            margin-left: 1em;
          }
          .mat-icon {
            color: #aaa;
            display: inline-block;
          }
        }
      }
    }
  }
}
