$orange: #ee7325;
:host {
  z-index: 99999;

  .menu {
    z-index: 99999;
    background-color: white;
    color: #fff;
    display: flex;
    flex-direction: row;
    cursor: normal;

    .mat-icon {
      display: none;
      font-size: 1em;
    }

    .section {
      display: flex;
      flex-direction: column;
      margin-right: 2em;
      background-color: white;
      label {
        font-size: 1.25em;
        line-height: 1em;
        color: #999;
        min-width: 8em;
        margin: 0 0 .15em 0;
        padding: .35em 0 0 0;
        border-radius: 3px;
      }
      a {
        font-size: 1.15em;
        display:block;
        color: $orange;
        color: #026CB6;
        text-decoration: underline;
        margin-bottom: .25em;
        cursor: pointer;
      }
      .mat-button {
        margin: 0;
        padding: 0;
        line-height: 1.25em;
        text-align: left;
      }
    }
  }
}
