<div *ngIf="user$ | async as user" class="menu">
  <section *ngIf="user.isAdmin">
    <label><mat-icon>edit</mat-icon>Edit</label>
    <a *ngIf="operation$ | async as operation" mat-button
        [routerLink]="['/operations', operation.id]">Operation</a>
    <span *ngFor="let ep of entityPrototypes$ | async">
      <a *ngIf="operation$ | async as operation" mat-button
        [routerLink]="['/operations', operation.id, 'entities', ep.id]">{{ ep.name.en.plural }}</a>
    </span>
    <a *ngIf="operation$ | async as operation" mat-button
      [routerLink]="['/operations', operation.id, 'plans']">Plans</a>
  </section>

  <section>
    <label><mat-icon>publish</mat-icon>Submit Data</label>
    <a *ngIf="operation$ | async as operation" mat-button
      [routerLink]="['/operations', operation.id, 'reports']">New reporting window</a>
  </section>

  <section *ngIf="user.isAdmin">
    <label><mat-icon>build</mat-icon>Configure</label>
    <div *ngIf="operation$ | async as operation">
      <a mat-button [routerLink]="['/operations', operation.id, 'aprototypes']">Attachment Prototypes</a>
      <a mat-button [routerLink]="['/operations', operation.id, 'eprototypes']">Entity Prototypes</a>
      <a mat-button [routerLink]="['/operations', operation.id, 'participants']">Participants</a>
    </div>
  </section>

  <section *ngIf="operation$ | async as operation">
    <label><mat-icon>dynamic_feed</mat-icon>States</label>
    <a mat-button [routerLink]="['/operations', operation.id, 'versions']">Publishing & Versions</a>
  </section>
</div>
