<div *ngIf="op && auth.user" class="menu">

  <div *ngIf="auth.user.isAdmin" class="section">
    <label><mat-icon>edit</mat-icon>Edit</label>
    <a mat-button [routerLink]="['/operations', op.id]">Operation</a>
    <span *ngFor="let ep of op.entityPrototypes">
      <a mat-button [routerLink]="['/operations', op.id]">{{ ep.name.en.plural }}</a>
    </span>
    <a mat-button [routerLink]="['/operations', op.id, 'plans']">Plans</a>
  </div>

  <div class="section">
    <label><mat-icon>publish</mat-icon>Submit Data</label>
    <a mat-button [routerLink]="['/operations', op.id, 'reports']">New reporting window</a>
  </div>

  <div *ngIf="auth.user.isAdmin" class="section">
    <label><mat-icon>build</mat-icon>Configure</label>
    <a mat-button [routerLink]="['/operations', op.id, 'aprototypes']">Attachment Prototypes</a>
    <a mat-button [routerLink]="['/operations', op.id, 'eprototypes']">Entity Prototypes</a>
    <a mat-button [routerLink]="['/operations', op.id, 'participants']">Participants</a>
  </div>

  <div class="section">
    <label><mat-icon>dynamic_feed</mat-icon>States</label>
    <a mat-button [routerLink]="['/operations', op.id, 'publish']">Publishing & Versions</a>
  </div>
</div>
