<div class="mt-4 navbar bg-dark rounded-top operation-nav px-3 py-0">
  <a class="navbar-nav p-3 switch-mode"
    [routerLink]="['/operation', cPS.operation.id, 'view']"
    href="/operation"
    [ngClass]="{'active': mode === 'view'}">
    <i class="material-icons">remove_red_eye</i>
  </a>
  <span *ngIf="!cPS.operation.editableByUser" class="navbar-nav p-3"
    [ngClass]="{'active': mode === 'edit'}">
    <i class="material-icons">create</i>
  </span>
  <a *ngIf="cPS.operation.currentPublishedVersionId && cPS.operation.currentPublishedVersionId ===  cPS.operation.latestVersionId && cPS.operation.editableByUser" class="navbar-nav p-3 clickable switch-mode"
    (click)="duplicateOperation()"
    [ngClass]="{'active': mode === 'edit'}">
    <i class="material-icons">create</i>
  </a>
  <a *ngIf="(!cPS.operation.currentPublishedVersionId || (cPS.operation.currentPublishedVersionId !== cPS.operation.latestVersionId ) )&& cPS.operation.editableByUser" class="navbar-nav p-3 clickable switch-mode"
    [routerLink]="['/operation', cPS.operation.id, 'edit', 'review']"
    href="/operation"
    [ngClass]="{'active': mode === 'edit'}">
    <i class="material-icons">create</i>
  </a>
  <a class="navbar-nav p-3 clickable"
    (click)="showVersion = !showVersion; mode = 'history'"
    [ngClass]="{'active': mode === 'history'}">
    <i class="material-icons">schedule</i>
  </a>
  <a *ngIf="mode === 'history'" class="navbar-nav p-3 mr-auto">History Mode</a>
  <a *ngIf="mode === 'edit'" class="navbar-nav p-3 mr-auto">Edit Mode</a>
  <a *ngIf="mode === 'view'" class="navbar-nav p-3 mr-auto">View Mode</a>
  <a  *ngIf="!showVersion" class="navbar-nav p-3 cap muted">Version {{ cPS.operation.version }}</a>
  <div class="btn-group"
    dropdown
    *ngIf="showVersion">
    <button id="button-basic"
      dropdownToggle
      type="button"
      class="toolbar-dropdown-toggle btn btn-dark mr-3"
      aria-controls="dropdown-move-to-next-step"> Version {{cPS.operation.version }}
      <i class="material-icons">keyboard_arrow_down</i>
    </button>
    <ul id="dropdown-move-to-next-step"
      *dropdownMenu
      class="dropdown-menu dropdown-menu-right"
      role="menu"
      aria-labelledby="button-basic">
      <li class="menuitem"
        *ngFor="let operationVersion of cPS.operation.operationVersions">
        <a class="clickable dropdown-item"
          href="/operation/{{operationVersion.operationId}}/view?version={{operationVersion.id}}"
          translate>Version {{ operationVersion.version }}
          <span class="small p-2">Updated on {{operationVersion.updatedAt}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-nav pr-3 cap muted">
    <span>
      <i class="material-icons align-top" *ngIf="!isPublished">visibility_off</i>
      <i class="material-icons align-top" *ngIf="isPublished">visibility</i>
      <span class="align-middle">{{ isPublished ? 'Published' : 'Not Published' }}</span>
    </span>
  </div>
  <div class="navbar-nav cap muted"
    *ngIf="currentStatusOption && (!nextSteps || !nextSteps.length) && (!reviewersStatus || !reviewersStatus.length)">
    {{ currentStatusOption.value.label.en }}
  </div>
  <div class="btn-group"
    dropdown
    *ngIf="(nextSteps && nextSteps.length) || (reviewersStatus && reviewersStatus.length)">
    <button id="button-basic"
      dropdownToggle
      type="button"
      class="toolbar-dropdown-toggle btn btn-dark"
      aria-controls="dropdown-move-to-next-step">{{
      currentStatusOption ? currentStatusOption.value.label.en  : 'Not Submitted' | translate }}
    </button>
    <ul id="dropdown-move-to-next-step"
      *dropdownMenu
      class="dropdown-menu dropdown-menu-right"
      role="menu"
      aria-labelledby="button-basic">
      <li class="menuitem"
        *ngFor="let step of nextSteps">
        <a class="clickable dropdown-item"
          (click)="moveToStep(step.toId)"
          translate>{{ step.value.label.en }}
        </a>
      </li>
      <li *ngIf="reviewersStatus && reviewersStatus.length" role="presentation" class="dropdown-divider"></li>
      <li *ngIf="reviewersStatus && reviewersStatus.length" class="small light-grey menuitem dropdown-item text-uppercase">Reviewer history</li>
      <ng-container *ngFor="let reviewer of reviewersStatus">
        <li class="menuitem dropdown-item text-capitalize">
          <span *ngIf="reviewer.governinEntity">{{reviewer.governingEntity}} :</span>
          <span class="small text-uppercase">{{reviewer.option}}</span>
        </li>
      </ng-container>
    </ul>
  </div>
  <app-comments
    [canAdd]="cPS.operation.editableByUser"
    [operationId]="cPS.operation.id">
  </app-comments>
  <div class="more-options btn-group"
    *ngIf="cPS.operation && cPS.operation.id"
    dropdown>
    <button id="button-more-options"
      dropdownToggle
      type="button"
      aria-controls="dropdown-basic">
      <i class="material-icons">more_vert</i>
    </button>
    <ul id="dropdown-basic"
      *dropdownMenu
      class="dropdown-menu dropdown-menu-right"
      role="menu"
      aria-labelledby="button-more-options">
      <span *ngIf="currentOperationStatusMenuOption">
        <li class="menuitem"
          *ngFor="let option of currentOperationStatusMenuOption.displayOptions">
          <span class="dropdown-item" translate>{{ option.name }}</span>
        </li>
      </span>
      <li class="divider dropdown-divider"
        *ngIf="currentOperationStatusMenuOption && currentOperationStatusMenuOption.displayOptions && currentOperationStatusMenuOption.displayOptions.length"></li>
      <!-- <li role="menuitem">
        <span class="dropdown-item" translate>View All Versions</span>
      </li> -->
      <li role="menuitem" *ngIf="cPS.operation.id">
        <span *ngIf="downloadOptions.fetchingDownloadZip" class="dropdown-item">
          <i class="fa fa-circle-o-notch fa-spin"></i>
          <span>{{ 'mapWrapper.preparing-file' | translate }}</span>
        </span>
        <span class="clickable dropdown-item"
          *ngIf="!downloadOptions.fetchingDownloadZip"
          (click)="downloadPDF(downloadModal)"
          translate>Download PDF
        </span>

        <span *ngIf="downloadOptions.zipLocation" class="dropdown-item">
          <a [href]="zipLocation" _blank>
            {{'mapWrapper.file-ready' | translate}}
          </a>
        </span>

        <span class="clickable dropdown-item"
          (click)="downloadDisaggregated()"
          translate>
            <i *ngIf="this.processing" class="fa fa-circle-o-notch fa-spin"></i>
            Download disaggregated data
        </span>
      </li>
    </ul>
  </div>

  <a class="navbar-nav p-2"></a>
</div>

<ng-template #downloadModal>
  <div class="modal-body p-5">
    <span *ngIf="downloadOptions.fetchingDownloadZip">
      <i class="fa fa-circle-o-notch fa-spin"></i>
      <span>{{ 'mapWrapper.preparing-file' | translate }}</span>
    </span>
    <span *ngIf="downloadOptions.zipLocation">
      <a [href]="downloadOptions.zipLocation" _blank>
        {{'mapWrapper.file-ready' | translate}}
      </a>
    </span>
    <span *ngIf="downloadOptions.errorDownloading && !downloadOptions.zipLocation" class="alert alert-danger">
      {{ 'mapWrapper.error-downloading' | translate }}
    </span>
  </div>
</ng-template>
