<div class="form-wrapper">
  <button type="button" class="btn btn-secondary" (click)="toggled = !toggled">
    <span *ngIf="!toggled && objectType === 'planProcedure'">Create {{ objectType }} default values for a plan</span>
    <span *ngIf="!toggled && objectType !== 'planProcedure'">Add new {{ objectType }}</span>
    <span *ngIf="toggled">Close</span>
  </button>
  <app-dynamic-form
    *ngIf="newObjectForm && toggled"
    [objectId]="null"
    [questions]="newObjectForm"
    [objectType]="objectType"
    [redirect]="redirect"
    (afterSubmit)="afterSubmitEvent($event)">
  </app-dynamic-form>
</div>
