.operation-gves-icons {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0 0 0;
  .gve-icon {
    border: 1px dashed #888 !important;
    max-width: 9em;
    padding: 1em;
    margin: 0 1em 1em 0;
    cursor: pointer;
  }

  .selected {
    svg {
      border-color: #ee7325!important;
      path {
        fill: #ee7325!important;
      }
    }
  }

  .icon-button {
    background-color: transparent;
    width: 120px;
    margin-left: .25em;
    &:hover {
      svg {
        border-color: #f9d5bd;
        path {
          fill: #ee7325;
        }
      }
    }
    // &.active {
    //   background-color: transparent;
    //   color: currentColor;
    //   svg {
    //     border-color: #ee7325;
    //     path {
    //       fill: #ee7325;
    //     }
    //   }
    // }
    svg {
      width: 6em;
      height: 6em;
      border: .5em solid #eee;
      border-radius: 50%;
      background-color: #fff;//rgba(color(white), 0.5);
      background-clip: padding-box;
      path {
        fill: #026CB6;
      }
    }
    .name {
      margin: 1em 0 0 -.5em;
      text-align: center;
      width: 9em;
      font-weight: 600;
      text-transform: uppercase;
      font-size: .75em;
    }
  }
}
