<div class="queue-entry-wrapper">
  <div class="queue-entry">
    <div class="col">
      <div class="context">
        <i (click)="toggleSelection()" *ngIf="selected" class="material-icons">check_box</i>
        <i (click)="toggleSelection()" *ngIf="!selected" class="material-icons">check_box_outline_blank</i>
        <label for="context">{{entry.context}}</label>
      </div>
    </div>
    <div class="col">{{entry.entities}}</div>
    <div class="col">{{entry.name}}</div>
    <div class="col">{{entry.type}}</div>
    <div class="col">{{entry.dataStatus}}</div>
    <div class="col">{{entry.cleanStatus}}</div>
    <div class="col">
      <a (click)="toggleExpand()" *ngIf="state === 'closed'" class="btn btn-outline-secondary">Open</a>
      <a (click)="toggleExpand()" *ngIf="state === 'open'" class="btn btn-outline-secondary">Close</a>
    </div>
  </div>
  <div *ngIf="state === 'open'">
    <queue-entry-versions></queue-entry-versions>
  </div>
</div>
