<div class="col-9 panel-body">
  <div class="form-panel">
    <div class="form-content">
      <form [formGroup]="registerForm">
        <fieldset>
          <div class="row">
            <div class="form-group col-lg-8">
              <label for="name" translate="">Name</label>
                <input class="form-control"
                  id="name"
                  name="name"
                  formControlName="name" />
            </div>
            <div class="form-group col-lg-8">
              <label for="context" translate="">Context</label>
                <input class="form-control"
                  id="context"
                  name="context"
                  formControlName="context" />
            </div>
            <div class="form-group col-lg-8">
              <label for="description" translate="">Description</label>
              <textarea formControlName="description" id="description" name="description" rows="8" cols="80"></textarea>
            </div>

            <div class="form-group col-lg-8">
              <label for="status" translate="">Status</label>
                <input class="form-control"
                  id="status"
                  name="status"
                  formControlName="status" />
            </div>
          </div>
          <div class="row dates">
            <h3>Reporting period</h3>
            <div class="pb-4 col-lg-12">
              <button class="btn btn-secondary mr-2">Current<br/>Year</button>
              <button class="btn btn-secondary mr-2">Previous<br/>Year</button>
              <button class="btn btn-secondary mr-2">Current<br/>Quarter</button>
              <button class="btn btn-secondary mr-2">Previous<br/>Quarter</button>
              <button class="btn btn-secondary">Custom<br/>Dates</button>
            </div>
            <div class="form-group row col-lg-6">
              <label  class="col-sm-2 col-form-label" for="startDate" translate="From"></label>
              <div class="input-group col-sm-10">
                <input class="form-control"
                  #bsDatepickerStartDate="bsDatepicker"
                  bsDatepicker
                  id="startDate"
                  name="startDate"
                  formControlName="startDate"
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                <div class="input-group-append">
                  <button (click)="bsDatepickerStartDate.toggle()"
                    [attr.aria-expanded]="bsDatepickerStartDate.isOpen" class="btn btn-outline-secondary" type="button"><i class="material-icons">calendar_today</i></button>
                </div>
              </div>
            </div>

            <div class="form-group row col-lg-6">
              <label  class="col-sm-2 col-form-label" for="endDate" translate="To"></label>
              <div class="input-group col-sm-10">
                <input class="form-control"
                  #bsDatepickerEndDate="bsDatepicker"
                  bsDatepicker
                  id="startDate"
                  name="startDate"
                  formControlName="endDate"
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                <div class="input-group-append">
                  <button (click)="bsDatepickerEndDate.toggle()"
                    [attr.aria-expanded]="bsDatepickerEndDate.isOpen" class="btn btn-outline-secondary" type="button"><i class="material-icons">calendar_today</i></button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
