<div class="addForm">
    <div class="container mt-4 mb-3">

        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="border-bottom: none;">
                <a class="nav-item nav-link" [ngClass]="{'active':selectedTab === 'profile'}"
                    (click)="setTab('profile')">Profile</a>
                <a class="nav-item nav-link" [ngClass]="{'active':selectedTab === 'roles'}"
                    (click)="setTab('roles')">Roles</a>
                <a class="nav-item nav-link" [ngClass]="{'active':selectedTab === 'organizations'}"
                    (click)="setTab('organizations')">Organizations</a>
                <a class="nav-item nav-link" [ngClass]="{'active':selectedTab === 'country'}"
                    (click)="setTab('country')">Country</a>
            </div>
        </nav>

        <div class="tab-content py-0 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                [ngClass]="{'active show':selectedTab === 'profile'}">
                <div>
                    <div class="card card-body">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                    [(ngModel)]="participant.email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Hid ID:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                    [(ngModel)]="participant.hidId">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="firstName"
                                    [(ngModel)]="participant.name_given">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="familyName" class="col-sm-2 col-form-label">Family Name:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="firstName"
                                    [(ngModel)]="participant.name_family">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" aria-labelledby="nav-profile-tab"
                [ngClass]="{'active show':selectedTab === 'roles'}">

                <div>
                    <div class="card card-body">
                        <div class="form-group row">
                            <label for="role" class="col-sm-2 col-form-label">Roles:</label>
                            <div class="col-sm-8 table-responsive">
                                <table class="table table-striped table-bordered ">
                                    <thead>
                                        <tr class="bg-light">
                                            <th>Role</th>
                                            <th>Plan</th>
                                            <th>Entity</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let role of participant.participantRoles">

                                            <td>{{role?.description}}</td>
                                            <td>{{role?.planName}}</td>
                                            <td>{{role?.clusterName}}</td>
                                            <td align="center"><a href="javascript:;" class="deleteIcon" title="Delete"
                                                    (click)="deleteParticipantRole(role)"><i
                                                        class="fa fa-trash"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="role" class="col-sm-2 col-form-label">Add Role</label>
                            <div class="col-sm-2">                              
                                <input [(ngModel)]="selectedRoleName" [typeahead]="roleDataSource"
                                    (typeaheadNoResults)="changeTypeaheadRoleNoResults($event)" [typeaheadMinLength]="0"
                                    [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="8"
                                    typeaheadOptionField="description" placeholder="Role." name="roles"
                                    class="form-control inputStart" autocomplete="off"
                                    (typeaheadOnSelect)="selectRoleChange($event)">
                                <div *ngIf="typeaheadRoleNoResults">
                                    <i class="fa fa-remove"></i> {{ 'No Results Found'}}
                                </div>

                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-primary" (click)="addParticipantRole()"> + Add Role
                                </button>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="hasPlanAccess">
                            <label for="role" class="col-sm-2 col-form-label">Plan</label>
                            <div class="col-sm-2">
                                <input [(ngModel)]="selectedPlanName" [typeahead]="planDataSource"
                                    (typeaheadNoResults)="changeTypeaheadPlanNoResults($event)"
                                    (typeaheadOnSelect)="typeaheadOnSelectPlan($event)" typeaheadMinLength="3"
                                    [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="8"
                                    typeaheadOptionField="planVersion.name" placeholder="Enter Plan." name="plans"
                                    class="form-control inputStart" autocomplete="off">
                                <div *ngIf="typeaheadPlanNoResults">
                                    <i class="fa fa-remove"></i> {{ 'No Results Found'}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="hasPlanAccess && hasClusterAccess">
                            <label for="role" class="col-sm-2 col-form-label">Governing Entity</label>
                            <div class="col-sm-2">                                
                                <input [(ngModel)]="selectedEntityName" [typeahead]="entityDataSource"
                                    (typeaheadNoResults)="changeTypeaheadEntityNoResults($event)" [typeaheadMinLength]="0"
                                    typeaheadOptionField="governingEntityVersion.name" placeholder="Entity."
                                    [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="8"
                                    name="entities" class="form-control inputStart" autocomplete="off"
                                    (typeaheadOnSelect)="selectedEntityChange($event)">
                                <div *ngIf="typeaheadEntityeNoResults">
                                    <i class="fa fa-remove"></i> {{ 'No Results Found'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                [ngClass]="{'active show':selectedTab === 'organizations'}">
                <div>
                    <div class="card card-body">
                        <div class="form-group row">
                            <label for="organization" class="col-sm-2 col-form-label">Organizations </label>
                            <div class="col-sm-8 table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr class="bg-light">
                                            <th>Organization Name</th>
                                            <th>Validate/Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let organization of participant.organizations">
                                            <td>{{organization.name}}</td>
                                            <td align="center">
                                                <div class="row">
                                                    <div
                                                        class="custom-control custom-switch col-sm-6 mt-1 pr-0 text-right">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitchOrg{{organization.id}}"
                                                            [checked]="organization.participantOrganization.validated"
                                                            (click)="updateOrgnizationStatus(organization)">
                                                        <label class="custom-control-label"
                                                            for="customSwitchOrg{{organization.id}}"></label>

                                                    </div>
                                                    <div class="col-sm-6 text-left">
                                                        <a href="javascript:;" class="deleteIcon" title="Delete"
                                                            (click)="deleteParticipantOrganization(organization)"><i
                                                                class="fa fa-trash"></i></a>
                                                    </div>
                                                </div>


                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="organization" class="col-sm-2 col-form-label">Add Organization</label>
                            <div class="col-sm-2">
                                <!-- <select class="form-control w-100" [(ngModel)]="selectedOrganization"
                                             (change)="selectOrganizationChange($event)">
                                             <option>Organization</option>
                                             <option *ngFor="let organization of (organizations | orderBy:'name')" [value]="organization.id">
                                                 {{organization.name}}</option>
                                         </select> -->
                                <input [(ngModel)]="selectedOrganizationName" [typeahead]="organizationDataSource"
                                    (typeaheadNoResults)="changeTypeaheadOrganizationNoResults($event)"
                                    typeaheadMinLength="3" typeaheadOptionField="name" placeholder="Organization."
                                    [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="8"
                                    name="organizations" class="form-control inputStart" autocomplete="off"
                                    (typeaheadOnSelect)="selectOrganizationChange($event)">
                                <div *ngIf="typeaheadOrganizationNoResults">
                                    <i class="fa fa-remove"></i> {{ 'No Results Found'}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary" (click)="addParticipantOranization()"> +
                                    Add Organization
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab"
                [ngClass]="{'active show':selectedTab === 'country'}">

                <div>
                    <div class="card card-body">
                        <div class="form-group row">
                            <label for="country" class="col-sm-2 col-form-label">Countries </label>
                            <div class="col-sm-8 table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr class="bg-light">
                                            <th>Country Name</th>
                                            <th>Validate/Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let location of participant.locations">
                                            <td>{{location.name}}</td>
                                            <td align="center">
                                                <div class="row">
                                                    <div
                                                        class="custom-control custom-switch col-sm-6 mt-1 pr-0 text-right">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitchLoc{{location.id}}"
                                                            [checked]="location.participantCountry.validated"
                                                            (click)="updateCountryStatus(location)">
                                                        <label class="custom-control-label"
                                                            for="customSwitchLoc{{location.id}}"></label>

                                                    </div>
                                                    <div class="col-sm-6 text-left">
                                                        <a href="javascript:;" class="deleteIcon" title="Delete"
                                                            (click)="deleteParticipantCountry(location)"><i
                                                                class="fa fa-trash"></i></a>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="country" class="col-sm-2 col-form-label">Add Country</label>
                            <div class="col-sm-2">
                                <!-- <select class="form-control w-100" [(ngModel)]="selectedCountry" (change)="selectCountryChange($event)">
                                            <option value="0">Country</option>
                                            <option *ngFor="let location of (locations | orderBy:'name')" [value]="location.id">
                                                {{location.name}}</option>
                                        </select> -->
                                <input [(ngModel)]="selectedCountryName" [typeahead]="locationDataSource"
                                    (typeaheadNoResults)="changeTypeaheadLocationNoResults($event)"
                                    typeaheadMinLength="3" typeaheadOptionField="name" placeholder="Location."
                                    [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="8"
                                    name="locations" class="form-control inputStart" autocomplete="off"
                                    (typeaheadOnSelect)="selectCountryChange($event)">
                                <div *ngIf="typeaheadLocationNoResults">
                                    <i class="fa fa-remove"></i> {{ 'No Results Found'}}
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary" (click)="addParticipantCountry()"> + Add
                                    country </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 mt-5 text-left">
                <button type="button" class="btn btn-success mr-2" (click)="updateParticipant()">Save</button>
                <button type="button" class="btn btn-secondary" [routerLink]="['/admin/participants']">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="loaderMainPanel" *ngIf="apiService.inProgress">
        <div 
        class="project-page-loader">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>