form {
  .mat-radio-group {
    margin: 1em 0;
    .mat-radio-button {
      margin-right: 2em;
    }
  }
}
.reportingPeriod{margin-bottom: 20px;
  h4{margin:10px 0px;}
  button{margin-right:10px;padding: 10px;background: #2c88aa;color: #fff;border:0px;}
}
.dates .mat-form-field{margin-right:15px;}
form.edit {
  .actions{
    a{margin-right:1em !important;}
  }
} 