<form class="edit" (ngSubmit)="onSubmit()">
  <mat-button-toggle-group>
    <mat-button-toggle value="1" checked="true">Global</mat-button-toggle>
    <mat-button-toggle value="2">Operation</mat-button-toggle>
    <mat-button-toggle value="3">Plan</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field appearance="outline">
    <mat-label>Context</mat-label>
    <input matInput formControlName="context"
      (input)="clearErrors()"
      required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name"
      (input)="clearErrors()"
      required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"
      (input)="clearErrors()"
      required></textarea>
  </mat-form-field>

  <div class="actions">
    <a mat-raised-button [routerLink]="['/rwindows']">Close</a>
    <a mat-raised-button color="warn" type="submit" [disabled]="!form.valid">Save</a>
  </div>
</form>
