<div class="window-form">
  <div class="content">
    <div class="content-header">
      <h1 translate>New Reporting Window</h1>
    </div>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <input matInput formControlName="name"
          placeholder="Name"
          (input)="clearErrors()"
          required>
      </mat-form-field>

      
      <mat-radio-group>
        <mat-radio-button color="primary" [value]="1">Global</mat-radio-button>
        <mat-radio-button color="primary" [value]="3">Operation</mat-radio-button>
        <mat-radio-button color="primary" [value]="2">Plan</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="outline">
        <input matInput formControlName="context"
          placeholder="Context"
          (input)="clearErrors()"
          required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <textarea matInput formControlName="description"
          placeholder="Description"
          (input)="clearErrors()"
          required></textarea>
      </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="warn" type="submit" [disabled]="!form.valid">Save</button>
        <button mat-raised-button type="button" (click)="close()">Close</button>
      </div>
    </form>
  </div>
</div>
