{
  "presets": ["@nx/react/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "pure": true,
        "ssr": true
      },
      ["babel-plugin-twin", { "debug": false }],
      "babel-plugin-macros"
    ]
  ]
}
