<div  class="op-attachments">
  <div class="panel-body">
    <div class="panel-attachments">
      <mat-accordion>
        <div *ngFor="let entry of attachments$ | async">
          <attachment-entry [entry]="entry"></attachment-entry>
        </div>

        <attachment-entry
          *ngIf="mode === 'ADD_OPERATION_ATTACHMENT'"
          [entry]="newAttachment"></attachment-entry>
      </mat-accordion>
    </div>
    <div class="panel-actions">
      <a mat-raised-button color="warn"
        [disabled]="mode === 'ADD_OPERATION_ATTACHMENT'"
        (click)="addForm()">
        {{ 'Add Form' }}
      </a>
    </div>
  </div>
</div>
