<div *ngIf="!loading" class="op-attachments">
  <div *ngIf="(mode$ | async) as mode" class="panel-body">
    <div class="panel-attachments">
      <mat-accordion>
        <div *ngFor="let entry of attachments$ | async">
          <attachment-entry [entry]="entry"></attachment-entry>
        </div>

        <attachment-entry *ngIf="mode === 'ADD'"
          [entry]="operation.newAttachment"></attachment-entry>
      </mat-accordion>
    </div>
    <div class="panel-actions">
      <a mat-raised-button color="warn"
        [disabled]="mode === 'ADD'"
        (click)="addForm()">
        {{ 'Add Form' }}
      </a>
    </div>
  </div>
</div>
