.panel {
  .panel-header {
  }
  .panel-body {
    background-color: rgba(242, 242, 242, 1);
    border: 1px solid #bbb;
    border-radius: 2px;
    width: 100%;
    padding: 1em;

    .panel-attachments {
      min-height: 31.5em;
    }

    .panel-actions {
      .btn {
        min-width: 13em;
      }
    }
  }
}
