.operation-page-header {
  background-color: inherit;
  min-height: 4em;
  padding: .25em 0;
  width: 100%;
  cursor: pointer;

  .title {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    font-size: 1.75em;
    .main {
      flex-grow: 1;
    }
    .route {
      margin-top: -.25em;
      font-size: .65em;
      color: #bbb;
      font-weight: bold;
    }
  }
  .container-fluid {
    position: relative;
    .material-icons {
      position:absolute;
      right: 1.5em;
      top: .5em;
      font-size: 2em;
    }
  }
}
