<div class="queue-entry-versions">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Version</th>
        <th scope="col">Name</th>
        <th scope="col">Last edited by</th>
        <th scope="col">Status</th>
        <th scope="col">Data Period</th>
        <th scope="col">Data</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of versions$ | async">
        <td>{{v.version}}</td>
        <td>{{v.name}}</td>
        <td>{{v.lastEdit}}</td>
        <td>{{v.status}}</td>
        <td>{{v.period}}</td>
        <td>{{v.data}}</td>
        <td *ngIf="v.status === 'Entered'">
          <a class="btn btn-link">Edit</a>
          <a class="btn btn-link">Delete</a>
          <a class="btn btn-link">Finalise</a>
        </td>
        <td *ngIf="v.status === 'Finalised'">
          <a class="btn btn-link">View</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
