<div class="title" *ngIf="op.operation">
  <div class="container-fluid">
    <h2 *ngIf="op.operation.code" class="text-secondary">
      {{ op.operation.operationVersion.code }}
    </h2>
    <h1 *ngIf="op.operation.operationVersion.name && op.operation.operationVersion.name !== ''; else defaultOperationName">
      {{ op.operation.operationVersion.name }}
    </h1>
    <ng-template #defaultOperationName><h1 translate>New Operation</h1></ng-template>

    <div>
      <small class="text-secondary" xngIf="createOperationService.operation.created">
        Created by {{ createOperationService.operation.created.participant.name_given }}
        {{ createOperationService.operation.created.participant.name_family }} on {{ createOperationService.operation.created.createdAt | date: 'yyyy-MM-d HH:mm:ss' }}.
      </small>
    </div>

    <div>
      <small class="text-secondary" xngIf="createOperationService.operation.lastUpdated">
        Last updated by {{ createOperationService.operation.lastUpdated.participant.name_given }}
        {{ createOperationService.operation.lastUpdated.participant.name_family }} on {{ createOperationService.operation.lastUpdated.updatedAt | date: 'yyyy-MM-d HH:mm:ss' }}.
      </small>
    </div>
  </div>
</div>
