:host {
  .content {
    // border: 1px solid red;
    .container {
      .mat-expansion-panel {
        .mat-expansion-panel-header {

          .mat-panel-title {
            width: 30%;
          }
          .mat-panel-description {

          }
        }
      }
      .mat-table {
        // overflow-y: scroll;
        .mat-column-name {
          width: 30%!important;
        }
        .mat-column-description {
          width: 56%!important;
          padding: 1em 0;
        }
        .mat-column-status {
          width: 6%!important;
          // padding-left:1em;
        }
        .mat-column-actions {
          width: 2%!important;
        }
      }
    }
  }
}
