:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  .mat-table {
    .mat-row {
      border-color: red;
    }
    .mat-cell {
      color: #757575;
    }
    .mat-column-name {
      width: 28%!important;
    }
    .mat-column-description {
      width: 60%!important;
      padding: 1em 0;
    }
    .mat-column-type {
      width: 6%!important;
      text-align: center;
    }
    .mat-column-status {
      width: 6%!important;
      text-align: center;
      .mat-icon {
        font-size: .75em;
        color:#ffc107;
        color:#f44336;
      }
      .active {
        color: #ee7325;
        color: #43a047;
      }
    }
  }
}
