:host {
  .mat-expansion-panel {
    .mat-expansion-panel-header {

      .mat-panel-title {
        width: 30%;
      }
      .mat-panel-description {

      }
    }
  }
  .mat-table {
    // overflow-y: scroll;
    .mat-column-name {
      width: 24%!important;
    }
    .mat-column-description {
      width: 40%!important;
      padding: 1em 0;
    }
    .mat-column-type {
      width: 6%!important;
    }
    .mat-column-status {
      width: 6%!important;
    }
    .mat-column-actions {
      width: 2%;
      text-align: right;
      .mat-button {
        display: inline-block;
        margin-left: 1em;
      }
      .mat-icon {
        color: #aaa;
        display: inline-block;
      }
    }
  }
}
