<form fxLayout="column" class="edit" (ngSubmit)="onSubmit()" [formGroup]="form">
  <hpc-input
    label="RefCode"
    [formControl]="form.controls['refCode']"
    (input)="clearErrors()"
    [ngClass]="{ 'is-invalid': submitted && f.refCode.errors }"
    required></hpc-input>

  <hpc-input
    label="Type"
    [formControl]="form.controls['refType']"
    (input)="clearErrors()"
    [ngClass]="{ 'is-invalid': submitted && f.refType.errors }"
    required></hpc-input>

  <json-editor
    [json]="prototype && prototype.value"
    (change)="onJsonChange($event)"></json-editor>

  <div class="actions">
    <a mat-raised-button [routerLink]="['/operations', operationId, 'aprototypes']">Close</a>
    <a mat-raised-button color="warn" type="submit" [disabled]="!form.valid">Save</a>
  </div>
</form>
