.queue-entry-versions {
  padding: 1em 2em;

  table {
    border: none;
    thead {
      border: none;
      tr {
        border: none;
      }
    }
    th {
      border: none;
    }
    td {
      background-color: #f7f7f7;
    }
  }
}
