<div class="content operation-page">
  <mat-accordion *ngIf="reportingWindow">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h1>{{reportingWindow.name}}</h1>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a [routerLink]="['/windows', reportingWindow.id]">Edit Reporting Window</a>
      <a [routerLink]="['/windows', reportingWindow.id, 'queue']">View Data queue</a>
      <a [routerLink]="['/windows', reportingWindow.id, 'states']">Change states</a>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="container">

    <div class="content-header">
      <h1 *ngIf="title">{{title}}</h1>
      <div class="content-header-actions">
        <ng-container [ngTemplateOutlet]="pageTitleTemplateRef">
        </ng-container>
      </div>
    </div>

    <ng-container [ngTemplateOutlet]="pageBodyTemplateRef">
    </ng-container>
  </div>
</div>
