<form [formGroup]="form" novalidate>
  <div class="form-panel">
    <div class="form-body">
      <div class="form-icon">
        <entity-entry-icon></entity-entry-icon>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="form-group col-lg-12">
            <text-area label="Technical Area" formControlName="technicalArea" required></text-area>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4">
            <date-input label="Activation Date" formControlName="activationDate" required></date-input>
          </div>
          <div class="form-group col-lg-8">
            <file-upload label="Activation Letter" formControlName="activationLetter" required></file-upload>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4">
            <date-input label="Deactivation Date" formControlName="deactivationDate" required></date-input>
          </div>
          <div class="form-group col-lg-8">
            <file-upload label="Deactivation Letter" formControlName="deactivationLetter" required></file-upload>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-12">
            <text-area label="Notes" formControlName="notes"></text-area>
          </div>
        </div>

        <div *ngIf="!readOnly" class="top-right">
          <button type="button" class="btn btn-default top-right">
            {{ 'Copy from...' | translate }}
          </button>
        </div>
        <div *ngIf="!readOnly" class="bottom-right">
          <button *ngIf="entry && entry.id" type="button" class="btn btn-default ">
            {{ 'Duplicate in...' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!readOnly" class="form-actions">
      <button [disabled]="!form.valid || form.pristine" type="button" class="btn btn-save" (click)="save()">
        {{ 'Save' | translate }}
      </button>
      <button *ngIf="entity && entity.id" type="button" class="btn btn-info" (click)="remove()">
        {{ 'Remove ' | translate }}
      </button>
    </div>
  </div>
</form>
