<div class="container admin">
  <div class="row summary">
    <div class="col-lg-12">
      <a class="back"
         [routerLink]="['/admin', objectType]">
        <i class="fa fa-angle-left"></i>
        Back to list of {{ objectType }}s
      </a>
      <h1>Editing {{ objectType }} {{ id }}</h1>
      <div *ngIf="objectType !== 'planProcedure'">
        <app-dynamic-form
          *ngIf="questions"
          [objectId]="id"
          [questions]="questions"
          [objectType]="objectType">
        </app-dynamic-form>
      </div>

      <h2>Relationships</h2>
      <div *ngFor="let relation of relations">
        <h3 (click)="relation['open'] = !relation['open']" class="relation-toggle">
          <i class="fa" [ngClass]="{'fa-caret-down': relation['open'], 'fa-caret-right': !relation['open']}"></i>
          {{ relation.label }}
          ({{ relation.value.length }})
        </h3>
        <div *ngIf="relation['open']">
          <app-add-new-object
            [parentObjectId]="id"
            [objectType]="relation.key"
            [redirect]="false"
            (afterSubmit)="afterSubmit($event)">
          </app-add-new-object>
          <div *ngFor="let relatedObject of relation.value"
            class="well">
            <app-dynamic-form
              [objectId]="relatedObject.id"
              [parentKey]="relatedObject.parentKey"
              [questions]="relatedObject.nestedQuestions"
              [objectType]="relatedObject.objectType"
              (afterSubmit)="afterSubmit($event)"
              [redirect]="false">
            </app-dynamic-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
